In [1]:
import requests
import pandas as pd
import numpy as np

def run_query(query):  # A simple function to use requests.post to make the API call.
    headers = {'X-API-KEY': 'BQYCaXaMZlqZrPCSQVsiJrKtxKRVcSe4'}
    request = requests.post('https://graphql.bitquery.io/', json={'query': query}, headers=headers)
    if request.status_code == 200:
        return request.json()
    else:
        raise Exception('Query failed and return code is {}.{}'.format(request.status_code, query))

In [2]:
# The GraphQL query

# 16 Dec 2021 - BTC Volt 01 Call - 3BjcHXvyzMsjmeqE2qFLx45K4XFx3JPiyRnjJiF5MAHt
# 17 Dec 2021 - SOL Volt 01 Call - 4Hnh1UCC6HLzx9NaGKnTVHR2bANcRrhydumdHCnrT3i2
# mSOL - 6UA3yn28XecAHLTwoCtjfzy3WcyQj1x13bxnH8urUiKt
# ETH Volt 01 Call - GjnoPUjQiEUYWuKAbMax2cM1Eony8Yutc133wuSun9hS
# FTT - 7wDh4VCTPwx41kvbLE6fkFgMEjnqw7NpGJvQtNabCm2B
# SRM - 5SLqZSywodLS8ih6U2AAioZrxpgR149hR8SApmCB7r5X
# MNGO - 4sTuzTYfcE2NF7zy6Sy8XhVcNLa6JQSLrx3roy97n4sD
# scnSOL - 5VmdHqvRMbXivuC34w4Hux9zb1y9moiBEQmXDrTR1kV
# SBR - DPMCwE9z9jXaDVDti5aKhdgCWGgsvioz6ZvB9eZjH7UE
# LUNA Volt 01 Call - 95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE


# Adjust date & account for query
query = """
query{
  solana(network: solana) {
    instructionAccounts(
      account: {in: [
        "4Hnh1UCC6HLzx9NaGKnTVHR2bANcRrhydumdHCnrT3i2",
        "3BjcHXvyzMsjmeqE2qFLx45K4XFx3JPiyRnjJiF5MAHt",
        "6UA3yn28XecAHLTwoCtjfzy3WcyQj1x13bxnH8urUiKt",
        "GjnoPUjQiEUYWuKAbMax2cM1Eony8Yutc133wuSun9hS",
        "7wDh4VCTPwx41kvbLE6fkFgMEjnqw7NpGJvQtNabCm2B",
        "5SLqZSywodLS8ih6U2AAioZrxpgR149hR8SApmCB7r5X",
        "4sTuzTYfcE2NF7zy6Sy8XhVcNLa6JQSLrx3roy97n4sD",
        "5VmdHqvRMbXivuC34w4Hux9zb1y9moiBEQmXDrTR1kV",
        "DPMCwE9z9jXaDVDti5aKhdgCWGgsvioz6ZvB9eZjH7UE",
        "95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE"]}
      date: {since: "2022-01-01"}
      programId: {is: "VoLT1mJz1sbnxwq5Fv2SXjdVDgPXrb9tJyC8WpMDkSp"}
      success: {is: true}
    ) {
      account {
        name
      }
      date {
        date
      }
      transaction {
        feePayer
      }
    }
  }
}
"""
result = run_query(query)  # Execute the query
# print('Result - {}'.format(result))
result

{'data': {'solana': {'instructionAccounts': None}},
 'errors': [{'message': 'ActiveRecord::ActiveRecordError: Response code: 500:\nCode: 160, e.displayText() = DB::Exception: Estimated query execution time (30.00329186369435 seconds) is too long. Maximum: 30. Estimated rows to process: 30057241383: While executing MergeTreeThread (version 20.8.11.17 (official build))\n',
   'locations': [{'line': 4, 'column': 5}],
   'path': ['solana', 'instructionAccounts'],
   'error_type': 'server'}]}

In [3]:
result

{'data': {'solana': {'instructionAccounts': None}},
 'errors': [{'message': 'ActiveRecord::ActiveRecordError: Response code: 500:\nCode: 160, e.displayText() = DB::Exception: Estimated query execution time (30.00329186369435 seconds) is too long. Maximum: 30. Estimated rows to process: 30057241383: While executing MergeTreeThread (version 20.8.11.17 (official build))\n',
   'locations': [{'line': 4, 'column': 5}],
   'path': ['solana', 'instructionAccounts'],
   'error_type': 'server'}]}

In [14]:
# convert GraphQL json to pandas dataframe
df = pd.json_normalize(result['data']['solana']['instructionAccounts'])

# rename to assets name
asset_conditions = [
    (df['account.name'] == "4Hnh1UCC6HLzx9NaGKnTVHR2bANcRrhydumdHCnrT3i2"),
    (df['account.name'] == "3BjcHXvyzMsjmeqE2qFLx45K4XFx3JPiyRnjJiF5MAHt"),
    (df['account.name'] == "6UA3yn28XecAHLTwoCtjfzy3WcyQj1x13bxnH8urUiKt"),
    (df['account.name'] == "GjnoPUjQiEUYWuKAbMax2cM1Eony8Yutc133wuSun9hS"),
    (df['account.name'] == "7wDh4VCTPwx41kvbLE6fkFgMEjnqw7NpGJvQtNabCm2B"),
    (df['account.name'] == "5SLqZSywodLS8ih6U2AAioZrxpgR149hR8SApmCB7r5X"),
    (df['account.name'] == "4sTuzTYfcE2NF7zy6Sy8XhVcNLa6JQSLrx3roy97n4sD"),
    (df['account.name'] == "5VmdHqvRMbXivuC34w4Hux9zb1y9moiBEQmXDrTR1kV"),
    (df['account.name'] == "DPMCwE9z9jXaDVDti5aKhdgCWGgsvioz6ZvB9eZjH7UE"),
    (df['account.name'] == "95sn4kgeJnnBfRCD8S2quu4HS9Y6vb7JDuXrarnmEjYE"),
]

In [15]:
asset_Categories = ['SOL', 'BTC', 'mSOL', 'ETH', 'FTT', 'SRM', 'MNGO', 'scnSOL', 'SBR', 'LUNA']
df['account.name'] = np.select(asset_conditions, asset_Categories)

In [16]:
df

     account.name   date.date                          transaction.feePayer
0             BTC  2022-01-30  2VTBivf6EBjSaJg4a51uVgpJqD4eazS7U1PoXxViKdJA
1             BTC  2022-01-30  3iZ1yUssaxznna8MQAp42g95611cydw6hoA1863bQo3D
2             BTC  2022-01-30  4KCJAgbh7x5J2padinF2AyHKeq5KyT8rLc3gHDCFa8Js
3             BTC  2022-01-30  5BCrFzSwNcfdD86BDL2Gv5SSscStN18LSB4PrJXsT3pr
4             BTC  2022-01-30  6Xt54VPqnsUdHUtGxh19VVmqrkncadpsnd6iYZoXmuL4
...           ...         ...                                           ...
1380          ETH  2022-02-02   beer2DnvzpGjPWY5uFR729QmovL6U727mUTkLZjGtpV
1381          ETH  2022-02-02   iNCm2v519BzFcxLLrLj3ktQVuDF93bbkE1R2TNdKkvt
1382          ETH  2022-02-03  3hTK1xJ9r4V4icoHJQ6QK9PjdKhY73Rhnkds5xd8rXrB
1383          ETH  2022-02-03  Ap8jgWamixqKyazzZztyhvjERN1og3fN5jXa8jzZzspx
1384          ETH  2022-02-03  DTLB1utNaotfRkKUX1DTGW92ptJrRFJ4E3a5PL5hw6Gz

[1385 rows x 3 columns]

In [11]:
df = df.groupby(['account.name', 'date.date']).size().reset_index(name='count')

In [12]:
# save to csv
df.columns = ['asset', 'date', 'unique_users']
df.to_csv("asset.csv")

In [13]:
df

     asset        date  unique_users
0      BTC  2022-01-30            16
1      BTC  2022-01-31             6
2      BTC  2022-02-01            12
3      BTC  2022-02-02            11
4      BTC  2022-02-03             2
5      ETH  2022-01-30            10
6      ETH  2022-01-31             6
7      ETH  2022-02-01             8
8      ETH  2022-02-02            14
9      ETH  2022-02-03             3
10     FTT  2022-01-30             5
11     FTT  2022-01-31            10
12     FTT  2022-02-01            28
13     FTT  2022-02-02            66
14     FTT  2022-02-03            73
15    LUNA  2022-01-30            39
16    LUNA  2022-01-31            26
17    LUNA  2022-02-01            32
18    LUNA  2022-02-02            26
19    LUNA  2022-02-03             4
20    MNGO  2022-01-30             4
21    MNGO  2022-01-31             5
22    MNGO  2022-02-01             6
23    MNGO  2022-02-02             3
24    MNGO  2022-02-03             3
25     SBR  2022-01-30            30
26     SBR  2022-01-31            27
27     SBR  2022-02-01            28
28     SBR  2022-02-02             7
29     SBR  2022-02-03             6
30     SOL  2022-01-30           149
31     SOL  2022-01-31           148
32     SOL  2022-02-01           140
33     SOL  2022-02-02           154
34     SOL  2022-02-03            29
35     SRM  2022-01-30            12
36     SRM  2022-01-31            10
37     SRM  2022-02-01            12
38     SRM  2022-02-02            10
39     SRM  2022-02-03             2
40    mSOL  2022-01-30            25
41    mSOL  2022-01-31            32
42    mSOL  2022-02-01            39
43    mSOL  2022-02-02            32
44    mSOL  2022-02-03             9
45  scnSOL  2022-01-30            22
46  scnSOL  2022-01-31             9
47  scnSOL  2022-02-01            18
48  scnSOL  2022-02-02            12
49  scnSOL  2022-02-03             5