In [1]:
import pandas as pd

In [130]:
user_df = pd.read_parquet('gs://friktion-users/user-1GizX3WoSesTdyY8jxDASVFtF3sTMz3oeTckKATKwQv.parquet')

In [131]:
user_df

,user_address,as_of_date,total_deposits_usd,total_withdrawals_usd,total_value_locked_USD,first_deposit_date,first_deposit_epoch,first_deposit_token,first_deposit_amount,first_withdrawal_date,...,last_deposit_amt,last_deposit_epoch,last_deposit_token,last_deposit_date,days_since_last_deposit,tvl_delta_30_day,tvl_delta_60_day,tvl_delta_90_day,has_churned,churn_date
0,1GizX3WoSesTdyY8jxDASVFtF3sTMz3oeTckKATKwQv,2022-01-22,270.0,0.000000,270.000000,2022-01-22,5,{'list': [{'item': {'item': 'SOL'}}]},270.0,2022-03-07,...,270.0,[5],[SOL],2022-01-22,0,270.0,270.0,270.0,False,None
1,1GizX3WoSesTdyY8jxDASVFtF3sTMz3oeTckKATKwQv,2022-01-23,270.0,0.000000,270.000000,2022-01-22,5,{'list': [{'item': {'item': 'SOL'}}]},270.0,2022-03-07,...,270.0,[5],[SOL],2022-01-22,1,270.0,270.0,270.0,False,None
2,1GizX3WoSesTdyY8jxDASVFtF3sTMz3oeTckKATKwQv,2022-01-24,270.0,0.000000,270.000000,2022-01-22,5,{'list': [{'item': {'item': 'SOL'}}]},270.0,2022-03-07,...,270.0,[5],[SOL],2022-01-22,2,270.0,270.0,270.0,False,None
3,1GizX3WoSesTdyY8jxDASVFtF3sTMz3oeTckKATKwQv,2022-01-25,270.0,0.000000,270.000000,2022-01-22,5,{'list': [{'item': {'item': 'SOL'}}]},270.0,2022-03-07,...,270.0,[5],[SOL],2022-01-22,3,270.0,270.0,270.0,False,None
4,1GizX3WoSesTdyY8jxDASVFtF3sTMz3oeTckKATKwQv,2022-01-26,270.0,0.000000,270.000000,2022-01-22,5,{'list': [{'item': {'item': 'SOL'}}]},270.0,2022-03-07,...,270.0,[5],[SOL],2022-01-22,4,270.0,270.0,270.0,False,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,1GizX3WoSesTdyY8jxDASVFtF3sTMz3oeTckKATKwQv,2022-03-28,270.0,255.177634,14.822366,2022-01-22,5,{'list': [{'item': {'item': 'SOL'}}]},270.0,2022-03-07,...,270.0,[5],[SOL],2022-01-22,65,NaN,NaN,270.0,False,None
66,1GizX3WoSesTdyY8jxDASVFtF3sTMz3oeTckKATKwQv,2022-03-29,270.0,255.177634,14.822366,2022-01-22,5,{'list': [{'item': {'item': 'SOL'}}]},270.0,2022-03-07,...,270.0,[5],[SOL],2022-01-22,66,NaN,NaN,270.0,False,None
67,1GizX3WoSesTdyY8jxDASVFtF3sTMz3oeTckKATKwQv,2022-03-30,270.0,255.177634,14.822366,2022-01-22,5,{'list': [{'item': {'item': 'SOL'}}]},270.0,2022-03-07,...,270.0,[5],[SOL],2022-01-22,67,NaN,NaN,270.0,False,None
68,1GizX3WoSesTdyY8jxDASVFtF3sTMz3oeTckKATKwQv,2022-03-31,270.0,255.177634,14.822366,2022-01-22,5,{'list': [{'item': {'item': 'SOL'}}]},270.0,2022-03-07,...,270.0,[5],[SOL],2022-01-22,68,NaN,NaN,270.0,False,None
69,1GizX3WoSesTdyY8jxDASVFtF3sTMz3oeTckKATKwQv,2022-04-01,270.0,255.177634,14.822366,2022-01-22,5,{'list': [{'item': {'item': 'SOL'}}]},270.0,2022-03-07,...,270.0,[5],[SOL],2022-01-22,69,NaN,NaN,270.0,False,None

In [133]:
user_df.iloc[32,:]

user_address               1GizX3WoSesTdyY8jxDASVFtF3sTMz3oeTckKATKwQv
as_of_date                                                  2022-02-23
total_deposits_usd                                               270.0
total_withdrawals_usd                                              0.0
total_value_locked_USD                                           270.0
first_deposit_date                                          2022-01-22
first_deposit_epoch                                                  5
first_deposit_token              {'list': [{'item': {'item': 'SOL'}}]}
first_deposit_amount                                             270.0
first_withdrawal_date                                       2022-03-07
first_withdrawal_epoch                                              11
first_withdrawal_token           {'list': [{'item': {'item': 'SOL'}}]}
first_withdrawal_amount                                     255.177634
last_withdrawal_date                                              None
last_withdrawal_epoch                                               []
last_withdrawal_amt                                                NaN
last_withdrawal_token                                               []
last_deposit_amt                                                 270.0
last_deposit_epoch                                                 [5]
last_deposit_token                                               [SOL]
last_deposit_date                                           2022-01-22
days_since_last_deposit                                             32
tvl_delta_30_day                                                   NaN
tvl_delta_60_day                                                 270.0
tvl_delta_90_day                                                 270.0
has_churned                                                      False
churn_date                                                        None
Name: 32, dtype: object

In [116]:
user_df['as_of_date'].max()

datetime.date(2022, 4, 1)

In [109]:
d = user_df['as_of_date'].value_counts()

d[d> 1].sort_index()

2022-03-15    2
2022-03-16    2
2022-03-17    2
2022-03-18    2
2022-03-19    2
2022-03-20    2
2022-03-21    2
2022-03-22    2
2022-03-23    2
2022-03-24    2
2022-03-25    2
2022-03-26    2
2022-03-27    2
2022-03-28    2
2022-03-29    2
2022-03-30    2
2022-03-31    2
2022-04-01    2
Name: as_of_date, dtype: int64

In [114]:
from datetime import date

user_df[user_df['as_of_date'] > date(2022, 3, 14)].iloc[0,:]

user_address               6o2ASdEoRGDZaaHRupBmocL7wKWNpyMXkFKePGsSs79p
as_of_date                                                   2022-03-15
total_deposits_usd                                           321.862154
total_withdrawals_usd                                        342.317649
total_value_locked_USD                                       -20.455495
first_deposit_date                                           2021-12-28
first_deposit_epoch                                                   1
first_deposit_token               {'list': [{'item': {'item': 'BTC'}}]}
first_deposit_amount                                            0.00456
first_withdrawal_date                                        2022-01-14
first_withdrawal_epoch                                                4
first_withdrawal_token           {'list': [{'item': {'item': 'USDC'}}]}
first_withdrawal_amount                                      249.999999
last_withdrawal_date                                         2022-03-15
last_withdrawal_epoch                                              11.0
last_withdrawal_amt                                           84.405448
last_withdrawal_token                                       [SBR, MNGO]
last_deposit_amt                                              66.852187
last_deposit_epoch                                                    4
last_deposit_token                                                  SBR
last_deposit_date                                            2022-01-14
days_since_last_deposit                                              60
tvl_delta_30_day                                                    NaN
tvl_delta_60_day                                              66.852187
tvl_delta_90_day                                             321.862154
has_churned                                                        True
churn_date                                                   2022-03-15
Name: 77, dtype: object

In [122]:
max_date_df = pd.read_gbq(query='(select max(date(deposit_initiated_ts)) from `friktion-dev.transactions.fact_deposits`)')
max_date = max_date_df.iloc[0,0]

_user_table_script_query = None

with open('user_table_sript.sql', 'r') as f:
    _user_table_script_query = f.read()
    
def collect_and_write_user_table(user_address, first_deposit_date, max_date):
    from google.cloud import bigquery

    # Construct a BigQuery client object.
    client = bigquery.Client()

    # Run a SQL script.
    sql_script = _user_table_script_query
    
    job_config = bigquery.QueryJobConfig(
        query_parameters=[
            bigquery.ScalarQueryParameter("user_address", "STRING", user_address),
            bigquery.ScalarQueryParameter("first_deposit_dt", "DATE", first_deposit_date),
            bigquery.ScalarQueryParameter("max_date", "DATE", max_date)
        ]
    )

    parent_job = client.query(sql_script, job_config=job_config)

    # Wait for the whole script to finish.
    rows_iterable = parent_job.result()
    print("Script created {} child jobs.".format(parent_job.num_child_jobs))

    # Fetch result rows for the final sub-job in the script.
    rows = list(rows_iterable)
    print(
        f'{len(rows)} rows of user data were collected for user {user_address}'
        )


    # Fetch jobs created by the SQL script.
    child_jobs_iterable = client.list_jobs(parent_job=parent_job)
    for child_job in child_jobs_iterable:
        child_rows = list(child_job.result())
        print(
            "Child job with ID {} produced {} row(s).".format(
                child_job.job_id, len(child_rows)
            )
        )
        
    user_df = None
    for job in client.list_jobs(parent_job=parent_job):
        user_df = client.get_job(job.job_id).to_dataframe().sort_values('as_of_date')
        break
    
    user_df.to_parquet(f'gcs://friktion-users/user-{user_address}-v4.parquet', index=False)
    print(f'Written to gcs://friktion-users/user-{user_address}-v4.parquet')

In [6]:
investigate_df = pd.read_parquet('gs://friktion-users/user-first-deposits.parquet')

In [118]:
row = investigate_df[investigate_df['user_address'] == '6o2ASdEoRGDZaaHRupBmocL7wKWNpyMXkFKePGsSs79p']

In [119]:
str(row.first_deposit_token.iloc[0])

"['BTC']"

In [123]:
collect_and_write_user_table(row.user_address.iloc[0],
    row.first_deposit_date.iloc[0],
    max_date
)

Script created 5 child jobs.
95 rows of user data were collected for user 6o2ASdEoRGDZaaHRupBmocL7wKWNpyMXkFKePGsSs79p
Child job with ID script_job_3dd539c7a0c43e967e128866a4bc8010_4 produced 95 row(s).
Child job with ID script_job_c40ce2116052042668e0813eba9d17cb_3 produced 0 row(s).
Child job with ID script_job_fb742010c39f82107c734313e6b6e028_2 produced 0 row(s).
Child job with ID script_job_9d3ea3864652ac562510a7d9fc4429f7_1 produced 0 row(s).
Child job with ID script_job_9b23a1859abd1ec7b1bb19e09b4ebce1_0 produced 1 row(s).
Written to gcs://friktion-users/user-6o2ASdEoRGDZaaHRupBmocL7wKWNpyMXkFKePGsSs79p-v4.parquet

In [124]:
follow_up_df = pd.read_parquet('gcs://friktion-users/user-6o2ASdEoRGDZaaHRupBmocL7wKWNpyMXkFKePGsSs79p-v4.parquet')

In [125]:
d = follow_up_df['as_of_date'].value_counts()

d[d> 1].sort_index()

Series([], Name: as_of_date, dtype: int64)

In [127]:
from datetime import date

follow_up_df[follow_up_df['as_of_date'] == date(2022, 3, 15)]

,user_address,as_of_date,total_deposits_usd,total_withdrawals_usd,total_value_locked_USD,first_deposit_date,first_deposit_epoch,first_deposit_token,first_deposit_amount,first_withdrawal_date,...,last_deposit_amt,last_deposit_epoch,last_deposit_token,last_deposit_date,days_since_last_deposit,tvl_delta_30_day,tvl_delta_60_day,tvl_delta_90_day,has_churned,churn_date
77,6o2ASdEoRGDZaaHRupBmocL7wKWNpyMXkFKePGsSs79p,2022-03-15,321.862154,342.317649,-20.455495,2021-12-28,1,{'list': [{'item': {'item': 'BTC'}}]},0.00456,2022-01-14,...,66.852187,[4],[SBR],2022-01-14,60,NaN,66.852187,321.862154,True,2022-03-15